<p style="color: green"><%= notice %></p>

<%= render @login_form %>

<div>
  <%= link_to "Edit this login form", edit_login_form_path(@login_form) %> |
  <%= link_to "Back to login forms", login_forms_path %>

  <%= button_to "Destroy this login form", @login_form, method: :delete %>
</div>
