<div id="<%= dom_id create_user %>">
  <p>
    <strong>Username:</strong>
    <%= create_user.username %>
  </p>

  <p>
    <strong>String:</strong>
    <%= create_user.string %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= create_user.email %>
  </p>

  <p>
    <strong>String:</strong>
    <%= create_user.string %>
  </p>

</div>
